/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v6/QGYvz_MVcBeNP4NJtEtq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v6/QGYvz_MVcBeNP4NJtEtq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v6/QGYvz_MVcBeNP4NJtEtq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v6/QGYvz_MVcBeNP4NJtEtq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v6/QGYvz_MVcBeNP4NJtEtq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v6/QGYvz_MVcBeNP4NJtEtq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v6/QGYvz_MVcBeNP4NJtEtq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v6/QGYvz_MVcBeNP4NJtEtq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v6/QGYvz_MVcBeNP4NJtEtq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin-ext */
@font-face {
  font-family: "Rufina";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rufina/v13/Yq6V-LyURyLy-aKCqh5lhOc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Rufina";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rufina/v13/Yq6V-LyURyLy-aKCpB5l.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin-ext */
@font-face {
  font-family: "Rufina";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rufina/v13/Yq6W-LyURyLy-aKKHztwtcZfrxE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: "Rufina";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rufina/v13/Yq6W-LyURyLy-aKKHztwu8Zf.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
body {
  margin: 0; }

* {
  box-sizing: border-box; }

:root {
  --red: #e12632;
  --yellow: #f6c93f;
  --container_width: 100%;
  --transition: ease all 300ms;
  --container_left_space: calc((100% - var(--container_width)) / 2); }
  @media (min-width: 768px) and (max-width: 991px) {
    :root {
      --container_width: 750px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    :root {
      --container_width: 970px; } }
  @media (min-width: 1200px) {
    :root {
      --container_width: 1170px; } }

div,
section {
  display: block; }

.container-fluid, .container {
  width: var(--container_width);
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }

.container {
  margin: auto; }
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.color_primary {
  color: #073711; }

.color_secondary, .btn_primary, .btn_secondary {
  color: #222222; }

.color_yellow, .btn_ternary {
  color: #eab133; }

.color_green {
  color: #0b6b37; }

.color_lightgreen {
  color: #eaf7e9; }

.text_xxxxxxxl {
  font-size: 102px;
  font-family: "Rufina";
  font-weight: 400;
  margin: 0 0 20px;
  color: #073711; }

.text_xxxxxxl {
  font-size: 80px;
  font-family: "Rufina";
  font-weight: 400;
  margin: 0 0 20px;
  color: #073711; }

.text_xxxxxl {
  font-size: 80px;
  font-family: "Outfit";
  font-weight: 500;
  margin: 0 0 20px;
  color: #073711; }

.text_xxxxl {
  font-size: 50px;
  font-family: "Outfit";
  font-weight: 200;
  margin: 0 0 20px;
  color: #073711; }

.text_xxxl {
  font-size: 48px;
  font-family: "Outfit";
  font-weight: 500;
  margin: 0 0 20px;
  color: #073711; }

.text_xxl {
  font-size: 36px;
  font-family: "Outfit";
  font-weight: 500;
  margin: 0 0 20px;
  color: #073711; }

.text_xl {
  font-size: 30px;
  font-family: "Outfit";
  font-weight: 400;
  margin: 0 0 20px;
  color: #073711; }

.text_l, #index_page .banner_block .banner_slider .banner_item .text_block .banner_subtxt {
  font-size: 24px;
  font-family: "Outfit";
  font-weight: 500;
  margin: 0 0 20px;
  color: #073711; }

.text_md {
  font-size: 22px;
  font-family: "Outfit";
  font-weight: 400;
  margin: 0 0 20px;
  color: #073711; }

.text_reg, .btn_primary, .btn_secondary {
  font-size: 18px;
  font-family: "Outfit";
  font-weight: 500;
  margin: 0 0 20px;
  color: #073711; }

.text_sm, .btn_ternary {
  font-size: 16px;
  font-family: "Outfit";
  font-weight: 500;
  margin: 0 0 20px;
  color: #073711; }

.ptb_60 {
  padding: 60px 0; }
  @media only screen and (max-width: 767px) {
    .ptb_60 {
      padding: 40px 0; } }

.btn_primary {
  background-color: #eab133;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px; }
  .btn_primary:hover {
    background-color: #f5bc3f; }

.btn_secondary {
  border: 2px solid #eab133;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px; }
  .btn_secondary:hover {
    background-color: #eab133; }

.btn_ternary {
  color: #eab133;
  border-bottom: 2px solid #eab133;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 2px;
  text-align: center; }

.hidden {
  display: none !important; }

.visible-lg {
  display: block; }
  @media (max-width: 1199px) {
    .visible-lg {
      display: none !important; } }

.hidden-xs {
  display: block; }
  @media (max-width: 767px) {
    .hidden-xs {
      display: none !important; } }

.hidden-sm {
  display: block; }
  @media (min-width: 767px) and (max-width: 1024px) {
    .hidden-sm {
      display: none !important; } }

.hidden-sm-xs {
  display: block; }
  @media (max-width: 1024px) {
    .hidden-sm-xs {
      display: none !important; } }

.visible-sm-xs {
  display: none; }
  @media (max-width: 1024px) {
    .visible-sm-xs {
      display: block !important; } }

.visible-sm {
  display: none; }
  @media (min-width: 767px) and (max-width: 1024px) {
    .visible-sm {
      display: block !important; } }

.visible-xs {
  display: block; }
  @media (min-width: 767px) {
    .visible-xs {
      display: none !important; } }

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background: #222222; }
  @media (max-width: 767px) {
    ::-webkit-scrollbar {
      height: 0;
      background: transparent; } }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eab133;
  border-radius: 0; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e8a81c; }

#index_page .banner_block .banner_slider {
  overflow: hidden; }
  #index_page .banner_block .banner_slider .banner_item {
    position: relative; }
    #index_page .banner_block .banner_slider .banner_item .text_block {
      position: absolute;
      top: 50%;
      left: var(--container_left_space);
      transform: translateY(-50%); }
      #index_page .banner_block .banner_slider .banner_item .text_block .banner_txt {
        font-size: 44px;
        color: #fff;
        font-family: "Outfit";
        font-weight: 600;
        margin: 0 0 15px; }
      #index_page .banner_block .banner_slider .banner_item .text_block .banner_subtxt {
        color: #fff;
        margin-bottom: 45px; }
  #index_page .banner_block .banner_slider .slick-dots {
    bottom: 15px;
    text-align: unset;
    left: var(--container_left_space);
    width: auto; }
    #index_page .banner_block .banner_slider .slick-dots li {
      width: 8px;
      height: 8px; }
      #index_page .banner_block .banner_slider .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 8px;
        height: 8px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: 0;
        background: transparent; }
        #index_page .banner_block .banner_slider .slick-dots li button::before {
          font-size: 10px;
          color: #fff;
          opacity: 1;
          content: " ";
          border-radius: 50%;
          width: 8px;
          height: 8px;
          background-color: transparent;
          border: 1px solid #fff; }
      #index_page .banner_block .banner_slider .slick-dots li.slick-active button::before {
        background-color: #fff;
        border-radius: 50%; }
#index_page .explore_products .explore_products_inner {
  padding-left: var(--container_left_space); }
  #index_page .explore_products .explore_products_inner .explore_products_slider {
    overflow: hidden; }
    #index_page .explore_products .explore_products_inner .explore_products_slider .explore_products_item {
      width: 280px;
      margin-left: 20px; }
      #index_page .explore_products .explore_products_inner .explore_products_slider .explore_products_item .img_sec img {
        border-radius: 8px; }
      #index_page .explore_products .explore_products_inner .explore_products_slider .explore_products_item .product_name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px; }
        #index_page .explore_products .explore_products_inner .explore_products_slider .explore_products_item .product_name p {
          margin: 0; }
#index_page .ayurvedic_legacy {
  background-image: url(../img/ayurvedic_bg.jpg); }
  #index_page .ayurvedic_legacy .ayurvedic_legacy_intro {
    position: relative; }
    #index_page .ayurvedic_legacy .ayurvedic_legacy_intro .text_xxxxxxxl {
      line-height: 1;
      position: relative;
      z-index: 1; }
      #index_page .ayurvedic_legacy .ayurvedic_legacy_intro .text_xxxxxxxl span {
        display: block; }
    #index_page .ayurvedic_legacy .ayurvedic_legacy_intro .legacy_img {
      position: absolute;
      top: 0;
      right: 15%; }
    #index_page .ayurvedic_legacy .ayurvedic_legacy_intro .legacy_txt {
      position: absolute;
      bottom: 15%;
      right: 0; }
#index_page .head_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; }
  #index_page .head_block .text_xxl {
    margin: 0; }

.cell {
  position: relative; }
  .cell #svgfile {
    position: absolute;
    top: 0;
    left: 0; }
  .cell .hoverblock {
    position: absolute; }
  .cell .slider {
    width: 100% !important;
    height: 100% !important; }
  .cell .point {
    position: absolute;
    z-index: 1;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid; }
    .cell .point.point1 {
      left: 0;
      bottom: 0; }
    .cell .point.point2 {
      bottom: 35%;
      left: 1%; }
    .cell .point.point3 {
      left: 3%;
      top: 17%; }

/*# sourceMappingURL=index.css.map */
