@import "base";
#index_page {
  .banner_block {
    .banner_slider {
      overflow: hidden;
      .banner_item {
        position: relative;
        .text_block {
          position: absolute;
          top: 50%;
          left: var(--container_left_space);
          transform: translateY(-50%);
          .banner_txt {
            font-size: 44px;
            color: #fff;
            font-family: $font_secondary;
            font-weight: 600;
            margin: 0 0 15px;
          }
          .banner_subtxt {
            @extend .text_l;
            color: #fff;
            margin-bottom: 45px;
          }
        }
      }

      .slick-dots {
        bottom: 15px;
        text-align: unset;
        left: var(--container_left_space);
        width: auto;
        li {
          width: 8px;
          height: 8px;
          button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 8px;
            height: 8px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: 0;
            background: transparent;
            &::before {
              font-size: 10px;
              color: #fff;
              opacity: 1;
              content: " ";
              border-radius: 50%;
              width: 8px;
              height: 8px;
              background-color: transparent;
              border: 1px solid #fff;
            }
          }
          &.slick-active {
            button {
              &::before {
                background-color: #fff;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
  .explore_products {
    .explore_products_inner {
      padding-left: var(--container_left_space);
      .explore_products_slider {
        overflow: hidden;
        .explore_products_item {
          width: 280px;
          margin-left: 20px;
          .img_sec {
            img {
              border-radius: 8px;
            }
          }
          .product_name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .ayurvedic_legacy {
    background-image: url(../img/ayurvedic_bg.jpg);
    .ayurvedic_legacy_intro {
      position: relative;
      .text_xxxxxxxl {
        line-height: 1;
        position: relative;
        z-index: 1;
        span {
          display: block;
        }
      }
      .legacy_img {
        position: absolute;
        top: 0;
        right: 15%;
      }
      .legacy_txt {
        position: absolute;
        bottom: 15%;
        right: 0;
      }
    }
  }

  .head_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    .text_xxl {
      margin: 0;
    }
  }
}
.cell {
  position: relative;
  margin: 0 auto;

  #svgfile {
    position: absolute;
    top: 0;
    // left: 0;
  }
  .year {
    position: absolute;
    bottom: -25px;
    @extend .text_sm;
    margin: 0;
    color: #83b296;
    &.year_end {
      left: -10px;
    }
    &.year_start {
      right: 10px;
    }
  }
  .hoverblock {
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
    border: 8px solid $color_green;
    border-radius: 100%;
    z-index: 1;
  }
  .timeline {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 10%);
    display: none;
    &.timeline1 {
      display: block;
    }
    p {
      font-size: 50px;
      color: #83b296;
      font-family: $font_secondary;
      font-weight: 200;
      text-align: center;
      margin: 0;
    }
  }
  .slider {
    .rs-tooltip {
      opacity: 0;
      z-index: -1;
    }
    // width: 100% !important;
    // height: 100% !important;
    // margin: 0 auto;
  }
  // .point {
  //   position: absolute;
  //   z-index: 1;
  //   background: #fff;
  //   height: 20px;
  //   width: 20px;
  //   border-radius: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border: 1px solid;
  //   &.point1 {
  //     left: 0;
  //     bottom: 0;
  //   }
  //   &.point2 {
  //     bottom: 35%;
  //     left: 1%;
  //   }
  //   &.point3 {
  //     left: 3%;
  //     top: 17%;
  //   }
  // }
}
.slider_sentence {
  text-align: center;
  margin: 50px 0 0;
}
